#navbarfelett{
    width: 100%;
    height: 400px;
}
body{
    background-color: beige;
}
#varoskep{
    width: 700px;
    height: 400px;
}
#kajakep{
    height: 400px;
    width: 600px;
    margin-bottom: 50px;
}
